@import "tailwindcss";

@keyframes draw-underline {
    from {
      transform: scaleX(0);
      transform-origin: right;
    }
    to {
      transform: scaleX(1);
      transform-origin: right;
    }
  }
